# ignore everything in the root except the "wp-content" directory.
!wp-content/

# ignore everything in the "wp-content" directory, except:
# "mu-plugins", "plugins", "themes" directory
wp-content/*
!wp-content/mu-plugins/
!wp-content/plugins/
!wp-content/themes/

# ignore these plugins
wp-content/plugins/*
wp-content/themes/*

# ignore node dependency directories
node_modules/

# ignore log files and databases
*.log
*.sql
*.sqlite

# add exception for these files
!wp-content/plugins/.gitkeep
!wp-content/themes/.gitkeep

.DS_Store